 @import url('http://fonts.cdnfonts.com/css/gilroy-bold');

                

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Gilroy-Bold', sans-serif;
  /* font-family: 'Gilroy-Heavy', sans-serif;
  font-family: 'Gilroy-Light', sans-serif;
  font-family: 'Gilroy-Medium', sans-serif;
  font-family: 'Gilroy-Regular', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  /* background-color: #f3f4f6; */
  /*   */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.div-box{
  padding-top:1rem;
  padding-bottom:1rem;
  padding-left:1rem;
}

.card-headings{
  font-weight: bolder;
  font-size: 10pt;
}

.text-inside{
  color:#94a3b8;
}
.major-headings{
  font-size: 28px;
  font-weight: 600;
}

.wed-btn{
  border-radius: 20px;
 padding-left: 1rem;
 padding-right: 1rem;
  padding-bottom: .2rem;
 padding-top: .2rem; 
 color:#94a3b8 ;
}
svg{

}